<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h2>User info</h2>
        <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format:'jpeg', fallback: "no_image.jpg" %>
        <h4>name:<%= @user.name %></h4>
        <h4>introduction:<%= @user.introduction %></h4>
        <%= link_to "編集", edit_user_path(@user.id) %>

      <h2>New Book</h2>
      <%= form_with model:@book,local:true do |f| %>
        <p>Title</p>
        <%= f.text_field :title %>
        <p>Opinion</p>
        <%= f.text_area :body %>
        <br>
        <%= f.submit 'create book' %>
      <% end %>
    </div>
    <div class="col-lg-8">
      <h2>Books</h2>
      <table class="table">
        <% @books.each do |book| %>
          <tr>
            <td>
              <%= book.user.profile_image %>
              <%= book.user.name %>
            </td>
            <td><%= book.title %></td>
            <td><%= book.body %></td>
          </tr>
        <% end %>

      </table>
    </div>
  </div>
</div>